<div class="route-container">
    <div class="col-md-3">
        <div class="route-img small-cabin-bag"></div>
        <div style="clear: both"></div>
        <div class="route-text">SMALL CABIN BAG</div>
        <div class="route-text-small">42 X 32 X 25 CM</div>
        <div class="route-text-tiny">FREE</div>
    </div>

    <div class="col-md-3">
        <div class="route-img large-cabin-bag"></div>
        <div style="clear: both"></div>
        <div class="route-text">LARGE CABIN BAG</div>
        <div class="route-text-small">56 X 45 X 25 CM</div>
        <div class="route-text-tiny">PAID</div>
    </div>

    <div class="col-md-3">
        <div class="route-img checked-in-bag"></div>
        <div style="clear: both"></div>
        <div class="route-text">CHECKED-IN BAG</div>
        <div class="route-text-small">149 X 119 X 171 CM</div>
        <div class="route-text-tiny">PAID</div>
    </div>

    <div class="col-md-3">
        <div class="route-img personal-item"></div>
        <div style="clear: both"></div>
        <div class="route-text">PERSONAL ITEM</div>
        <div class="route-text-small">40 X 30 X 18 CM</div>
        <div class="route-text-tiny">WITH PRIORITY BOARDING</div>
    </div>

    <div style="clear: both"></div>

    <p class="route-extra-text">Passengers without priority boarding are allowed to carry only one piece of cabin baggage which is EITHER a free small cabin bag OR a paid large cabin bag.</p>
</div>


