<div class="route-container">
    <div class="col-md-6">
        <div class="route-img y16"></div>
        <div style="clear: both"></div>
        <div class="route-text">AS AN INDIVIDUAL</div>
        <div class="route-text-small">You are travelling alone or with family, and you will be paying the bill.</div>
    </div>

    <div class="col-md-6">
        <div class="route-img y18"></div>
        <div style="clear: both"></div>
        <div class="route-text">AS A COMPANY</div>
        <div class="route-text-small">You are travelling for business and your flight will be paid for by your employer, school etc.</div>
    </div>

    <div style="clear: both; margin-bottom: 3em;"></div>

    <p class="route-extra-text">Once you closed your reservation process, you can change the billing information for a fee of ​€​5.00 through the Boundless Call Centre within 6 months of your flight.</p>
</div>