.footer-container {
    height: 44px;
    width: 100%;
    color: white;
    background-color: #06038D;
    text-align: center;
    bottom: 0;
    position: fixed;
    opacity: 0.9;
}


.copyright-item {
    font-size: 120%;
    position: relative;
    top: 13px;
    margin-right: 2em;
}