<div class="route-container">
    <div class="col-md-6">
        <div class="route-img pc"></div>
        <div style="clear: both"></div>
        <div class="route-text">ONLINE</div>
        <button type="button" class="btn btn-purple" (click)="goToMainPage()">START BOOKING</button>
    </div>

    <div class="col-md-6">
        <div class="route-img phone"></div>
        <div style="clear: both"></div>
        <div class="route-text">CALL CENTRE</div>
        <button type="button" class="btn btn-purple" (click)="goToMainPage()">CALL US</button>
    </div>

    <div style="clear: both"></div>

    <p class="route-extra-text">You can also book through travel agents and at most airport sales desks.</p>
</div>




