<div class="route-container">
    <div class="col-md-4">
        <div class="route-img credit-card"></div>
        <div style="clear: both"></div>
        <div class="route-text">CREDIT CARDS</div>
        <div class="route-text-small">Visa, Visa Electron, <br /> MasterCard, Maestro</div>
    </div>

    <div class="col-md-4">
        <div class="route-img bank-transfer"></div>
        <div style="clear: both"></div>
        <div class="route-text">BANK TRANSFER</div>
        <div class="route-text-small">within one banking day from booking</div>
    </div>

    <div class="col-md-4">
        <div class="route-img cash"></div>
        <div style="clear: both"></div>
        <div class="route-text">CASH</div>
        <div class="route-text-small">at the airport sales desk and travel agents</div>
    </div>

    <div style="clear: both; margin-bottom: 3em;"></div>
</div>