<div class="route-container">
    <div class="col-md-3">
        <div class="route-img infant"></div>
        <div style="clear: both"></div>
        <div class="route-text">0-2 y</div>
        <div class="route-text-small">INFANT FARE <br /> TRAVELS ON ADULT'S LAP</div>
    </div>

    <div class="col-md-3">
        <div class="route-img y14"></div>
        <div style="clear: both"></div>
        <div class="route-text">2-14 y</div>
        <div class="route-text-small">ADULT FARE <br /> TRAVELS WITH ADULT</div>
    </div>

    <div class="col-md-3">
        <div class="route-img y15"></div>
        <div style="clear: both"></div>
        <div class="route-text">15 y</div>
        <div class="route-text-small">ADULT FARE <br /> CAN TRAVEL ALONE</div>
    </div>

    <div class="col-md-3">
        <div class="route-img y16"></div>
        <div style="clear: both"></div>
        <div class="route-text">16+ y</div>
        <div class="route-text-small">CONSIDERED AN ADULT <br /> MAY ESCORT UP TO 10 CHILDREN</div>
    </div>

    <div style="clear: both"></div>

    <p class="route-extra-text">Children and their adult escort must be booked under the same reservation.</p>
</div>


