.route-container {
    padding: 15px 15px;
    width: 90%;
    margin: auto;
    background: white;
    box-shadow: 3px 3px 15px #888888
}

.route-img {
    height: 110px;
    width: 110px;
    background-size: 110px 110px;
    display: inline-block;
    margin-top: 1em;
    position: relative;
    left: 50%;
    transform: translateX(-50%);  
}

.upto2weeks {  
    background-image: url("./../../../../../assets/images/upto2weeks.png");
}

.within2weeks {  
    background-image: url("./../../../../../assets/images/within2weeks.png");
}


.route-text {
    margin-top: 1em;
    font-size: 230%;
    font-weight: bold;
    color: #06038D; 
    text-align: center;
}

.route-text-middle {
    font-size: 125%;
    color: #849494;
    font-weight: bold;
    text-align: center;
    margin-bottom: 3em;
}

.route-text-small {
    color: #849494;
    text-align: center;
    font-size: 150%;
}

