<div class="route-container">
    <div class="col-md-6">
        <div class="route-img upto2weeks"></div>
        <div style="clear: both"></div>
        <div class="route-text">Up to 2 weeks</div>
        <div class="route-text-middle">€​60.00 FEE</div>
        <div class="route-text-small">Cancel your reservation earlier than the 14th day before departure, and you only have to pay the cancellation fee to receive a refund.</div>
    </div>

    <div class="col-md-6">
        <div class="route-img within2weeks"></div>
        <div style="clear: both"></div>
        <div class="route-text">Within 2 weeks</div>
        <div class="route-text-middle">€​80.00 FEE+SERVICES</div>
        <div class="route-text-small">If you cancel within 14 days of your flight departure, you will need to pay a higher fee and we will not be able to refund the cost of the services purchased.</div>
    </div>

    <div style="clear: both; margin-bottom: 3em;"></div>
</div>


