 <div class="container-fluid container-forgottenPassword-dialog">
    <div class="forgottenPassword-dialog-header">Forgot your password</div>

    <form *ngIf="showForgottenPasswordForm" [formGroup]="forgottenPasswordForm" novalidate>
        <div class="form-group">
            <md-input-container>
                <input mdInput placeholder="Email" class="form-control" formControlName="email">
            </md-input-container>             
        </div>

        <div class="wrong-email" *ngIf="wrongEmail">
            <md-icon class="wrong-email-icon">warning</md-icon>
            <div style="float: left;">
                <p class="wrong-email-text-big">Wrong e-mail address.</p>
                <p class="wrong-email-text-small">Please try again!</p>
            </div>
        </div>

        <p class="email-text">We will send you an email with a new password</p>

        <div style="clear: both"></div>

        <button type="button" class="btn btn-purple" [disabled]="!forgottenPasswordForm.valid" (click)="resetPassword()">SUBMIT</button> <br/>
        <button type="button" class="btn btn-blue" (click)="closeforgottenPasswordDialog()">CANCEL</button>
  </form>

  <div *ngIf="!showForgottenPasswordForm">
        <div class="forgottenPassword-dialog-img"></div>
        <p class="email-text">An e-mail has been sent with reset instructions to {{forgottenPasswordForm.controls.email.value}}.</p>
  </div>
</div>


