.container-forgottenPassword-dialog {
    font-size: 160%;
}

.forgottenPassword-dialog-header {
    text-align: center;
    margin-bottom: 1em;
    font-weight: bold;
    color: #C6007E;
    width: 100%;
    font-size: 110%
}

md-input-container {
    width: 100%;
}

:host ::ng-deep .mat-input-placeholder{
    color: #06038D;
}

:host ::ng-deep .mat-input-invalid .mat-input-placeholder {
    color: #f44336;
}

.btn-purple {
    color: white;
    background-color: #C6007E;
    border-color: #C6007E;
    width: 100%;
    height: 44px;
    margin-bottom: 1em;
}

.btn-blue {
    color: white;
    background-color: #06038D;
    border-color: #06038D;
    width: 100%;
    height: 44px;
    margin-bottom: 1em;
}

.wrong-email {
    height: 50px;
    margin-bottom: 1em;
    margin-top: 2em;
}

.wrong-email-icon {
    color: #C6007E;
    float: left;
    margin-right: 0.5em;
}

.wrong-email-text-big {
    font-size: 75%;
    font-weight: bold;
    color: #C6007E;
}

.wrong-email-text-small {
    color: #C6007E;
    font-size: 80%;
}

.email-text {
    font-weight: bold;
    font-size: 90%;
}

.forgottenPassword-dialog-img {
    height: 110px;
    width: 110px;
    background-size: 110px 110px;
    display: inline-block;
    margin-top: 1em;
    margin-bottom: 1em;
    position: relative;
    left: 50%;
    transform: translateX(-50%);  
    background-image: url("./../../../assets/images/16y.png");
}
