<div class="route-container">
    <div class="col-md-6">
        <div style="clear: both"></div>
        <div class="fares-name go">
            <p class="fares-name-big">BOUNDLESS GO</p>
            <p class="fares-name-small">PACK & SAVE</p>
        </div>
        <div style="clear: both"></div>
        <div class="fare-rule">
            <div class="route-img hand-luggage"></div>
            <div class="route-text">Hand Luggage</div> 
            <br /><br />
            <div class="route-img freecheckin1"></div>
            <div class="route-text">Free check-in</div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="fares-name plus">
            <p class="fares-name-big">BOUNDLESS PLUS</p>
            <p class="fares-name-small">ALL IN & FULL FLEX</p>
        </div>
        <div style="clear: both"></div>
        <div class="fare-rule">
            <div class="route-img hand-luggage-2"></div>
            <div class="route-text"> Hand luggage</div> 
            <br /><br />
            <div class="route-img large-luggage"></div>
            <div class="route-text">20 kg checked-in bag</div>
            <br /><br />
            <div class="route-img freecheckin2"></div>
            <div class="route-text">Free check-in</div>
            <br /><br />
            <div class="route-img priority"></div>
            <div class="route-text">Boundless Priority</div>
            <br /><br />
            <div class="route-img small-luggage"></div>
            <div class="route-text">Small bag</div>
        </div>

    </div>

    <div style="clear: both"></div>
</div>




