<div class="route-container">
    <div class="col-md-4">
        <div class="route-img cellphone"></div>
        <div style="clear: both"></div>
        <div class="route-text">FLIGHT MODE</div>
        <div class="route-text-small">Use mobile phones, electronic readers and tablet computers on all of our flights in flight mode.</div>
    </div>

    <div class="col-md-4">
        <div class="route-img laptop"></div>
        <div style="clear: both"></div>
        <div class="route-text">TAKEOFF & LANDING</div>
        <div class="route-text-small">Laptops need to be stored for takeoff and landing.</div>
    </div>

    <div class="col-md-4">
        <div class="route-img pacemaker"></div>
        <div style="clear: both"></div>
        <div class="route-text">NO RESTRICTIONS</div>
        <div class="route-text-small">Heart pacemakers, hearing aids, implanted medical devices, electronic nerve stimulators can be used without restrictions.</div>
    </div>

    <div style="clear: both; margin-bottom: 3em;"></div>
</div>




